@-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }  
* {
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Montserrat', sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top1{
    height:1024px;
    background: url(img/logo.svg.svg),
    linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.heading{
    max-width: 700px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-top: 217px;
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.descrip{
    max-width: 500px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    margin-top: 32px;
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.but{
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    &:hover{
        text-decoration: underline;
    }
}
.head{
    max-width: 1400px;
    padding-bottom: 128px;
    padding-top: 128px;
    background: #000915;
}
.for{
    max-width: 1200px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}
.shadow-pop-tr {
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.for_item{
    padding: 32px;
    height: 300px;
    max-width: 378px;
    grid-column: span 4;
    font-style: normal;
    font-weight: 600;
    transition: all;
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    justify-content: flex-start;
    font-size: 24px;
    line-height: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    &:hover{
        text-decoration: underline;
    }
}
.game_1{
    width: 378px;
    background: url(./img/man1.jpg),
    linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
    border-radius: 22px;
    background-repeat: no-repeat;
    background-size: cover;
}
.game_2{
    width: 378px;
    background: url(./img/man2.jpg),
    linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
    border-radius: 22px;
    background-repeat: no-repeat;
    background-size: cover;
}
.game_3{
    width: 378px;
    background: url(./img/girl.jpg),
    linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
    border-radius: 22px;
    background-repeat: no-repeat;
    background-size: cover;
}
.neck{
    background: #000915;
}

@import 'mobile';