* {
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Montserrat', sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top1{
    height: 1024px;
    width: 1440px;
    background: url(./img/logo.jpg),
    linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.heading{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-top: 217px;
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: grey;
}
.descrip{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    margin-top: 32px;
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: grey;
}
.but{
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center ;
}
.head{
    padding-top: 128px;
    padding-bottom: 128px;
    background: #000915;
}
.for{
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}
.for_item{
    height: 300px;
    width: 378px;
    grid-column: span 4;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    justify-content: flex-start;
    font-size: 24px;
    line-height: 32px;
    flex-direction: row;
    flex-wrap: wrap;
}
.game_1{
    background: url(./img/man1.jpg),
    linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
    border-radius: 16px;

}
.game_2{
    background: url(./img/man2.jpg),
    linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
    border-radius: 16px
}
.game_3{
    background: url(./img/girl.jpg),
    linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
    border-radius: 16px
}