* {
    margin: 0;
    padding: 0;

}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top1{
    height: 1024px;
    width: 1440px;
    background-image: url(./IMG/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(0001.jpg);
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.heading{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: grey;
}
.descrip{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: grey;
}
.but{
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}