@media (max-width: 425px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .heading{
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        align-items: center;
    }
}